
<div class="flex flex-col font-semibold items-center justify-center min-h-screen pb-32 bg-white">
    <h1 class="text-center text-5xl font-bold mb-8">Inicio sesión </h1>
    <p class="text-center text-lg mb-5 text-blue-500" >Accede a tu cuenta para continuar</p>
    <form class="w-full max-w-xs" 
    autocomplete="off"   
    [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4 text-lg font-semibold">
            <input type="email" 
            formControlName="email"
            
            placeholder="Correo electrónico" 
            class="form-control w-full px-4 py-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                <span class="text-lg text-red-500" 
                    *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
                    Ingresa un correo electrónico válido.
                </span>
        </div>
        <div class="mb-4 text-xl font-semibold">
            <input type="password" 
            formControlName="password"
            placeholder="Contraseña" 
            class="form-control w-full px-3 py-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                <span class="text-lg text-red-500" 
                    *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
                    Verifica tu contraseña (mínimo 6 caracteres).
                </span>
        </div>
        <div class="flex justify-between items-center mb-6">
            <label class="flex items-center text-gray-700 text-lg font-sans ">
                <input type="checkbox" class="mr-4 accent-blue-600"/>
                Recordarme
            </label>
            
        </div>
        <div class="flex justify-between items-center mb-6">
            <a href="#" class=" text-lg font-sans text-blue-600 hover:underline ">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="flex justify-between items-center mb-6">
            <a href="auth/register" class="text-lg font-san flex items-center text-blue-400 hover:underline">Aun no tienes cuenta?Registrate</a>
        </div>
        <button type="submit" (ngSubmit)="loadUserName()"
        [disabled]="loginForm.invalid"
        class="w-full py-3 bg-blue-700 text-lg text-white rounded hover:bg-blue-500 font-semibold  transition-colors">
            
        Entrar
        </button>
    </form>
</div>
