<div class="flex items-center justify-center min-h-screen bg-gray-50">
  <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Crear Cuenta</h2>

    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1">Nombre Completo</label>
        <input 
          type="text"
          name="nombre"
          [(ngModel)]="nombre"
          required
          class="w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500"
        />
            <span 
                *ngIf="registerForm.form.controls['nombre']?.invalid && registerForm.form.controls['nombre']?.touched"
                class="text-red-500 text-sm mt-1 block"
                >
                El nombre es obligatorio.
            </span>
      </div>
    

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1">Correo Electrónico</label>
        <input 
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          class="w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500"
        />
        <span 
                *ngIf="registerForm.form.controls['email']?.invalid && registerForm.form.controls['email']?.touched"
                class="text-red-500 text-sm mt-1 block"
                >
                El correo electronico es obligatorio.
            </span>
      </div>
      

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
        <input 
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          class="w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500"
        />
        <span 
                *ngIf="registerForm.form.controls['password']?.invalid && registerForm.form.controls['password']?.touched"
                class="text-red-500 text-sm mt-1 block"
                >
                El password es obligatorio.
            </span>
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700 mb-1">Teléfono</label>
        <input 
          type="text"
          name="telefono"
          [(ngModel)]="telefono"
          required
          class="w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500"
        />
        <span 
                *ngIf="registerForm.form.controls['telefono']?.invalid && registerForm.form.controls['telefono']?.touched"
                class="text-red-500 text-sm mt-1 block"
                >
                El telefono es obligatorio.
            </span>
      </div>

      <button
        type="submit"
        [disabled]="loading || registerForm.invalid"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg transition"
      >
        {{ loading ? 'Registrando...' : 'Registrarse' }}
      </button>
    </form>

    <!-- Mensajes -->
    <p *ngIf="successMessage" class="text-green-600 text-sm mt-4">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="text-red-600 text-sm mt-4">{{ errorMessage }}</p>
  </div>
</div>
